@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body.content {
   background-image: linear-gradient(to right, #FFC654 50%, #FFC95B 50%, #FECB63); 
  height: fit-content;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  /* font-family: "Open Sans", sans-serif; */
}
.global-screen-box {
  background-image: linear-gradient(to right, #FFC654 50%, #FFC95B 50%, #FECB63); 
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.form{
  height: fit-content;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 2px solid white;
}
.icons {
  padding: 20px;
}
.footer {
  position: fixed;
  width: 100%;
  bottom: 2vh;
  display: flex;
  justify-content: space-between;
}

.footer_icons {
  padding: 20px;
  color: purple;
}

.signin-container{
  margin-top: 40px;

}
.signup-form{
  align-content: center;
}

.signup-img-itself{
  width: 20em;
}
/* // LOGIN PAGE */

.form {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  }
  .form-group{
    background-color: #fff;
  }
  .login-img {
    margin-top: 180px;
    width: 29em;
  }
  .login-img-itself {
    width: 70%;
    height: 90%;
  }
  .onboarding-swipe-img {
    margin-top: 110px;
    margin-left: 50px;
    width: 18em;
  }
 

.login-words{
  display: flex;
  align-items: flex-start;
  width: fit-content;
margin-left: 30px;
  flex-direction: column;
}
  label {
    font-size: 20px;
  }
  input{
    margin-top: 6px;
    min-width: 15em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background: #fff;
    background-color: white;
    border: 0;
    border-radius: 4px;
    margin-bottom: 31px;
    transition: all 250ms ease-in-out;
  }
  .signup-button {
    font-size: 21px;
    padding: 10px 80px;
    border: 0px;
    box-shadow: 2px solid gray;
    background-image: linear-gradient(to right, rgb(101, 116, 250) 50%, rgb(101, 116, 250) 50%, rgb(32, 52, 228));
    background-size: 200%;
    background-position: 0%;
    transition: 0.5s;
    color: #fff;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
  }
  .signup-button:hover {
    background-position: 100% 0%;
    }
.login-button {
  font-size: 21px;
  padding: 10px 80px;
  
  border: 0px;
  box-shadow: 2px solid gray;
  background-image: linear-gradient(to right, rgb(101, 116, 250) 50%, rgb(101, 116, 250) 50%, rgb(32, 52, 228));
  background-size: 200%;
  background-position: 0%;
  transition: 0.5s;
  color: #fff;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
}
.login-button:hover {
background-position: 100% 0%;
}
.signup-link {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  font-size: 15px;
}
.signup-link > h3 {
color: white;
font-size: 20px;
}


.slider {
  height: 600px;
  width: 400px;
}

/* SIGNUP-TYPE */
.signup-type-container{
  position: relative;
  align-content: center;
  margin-top:60%;
  
}
.signup-type-buttons {
  font-size: 21px;
  margin-top: 40px;
  padding: 20px 70px;
  width: 90%;
  border: 0px;
  box-shadow: 2px solid gray;
  background-image: linear-gradient(to right, rgb(101, 116, 250) 50%, rgb(101, 116, 250) 50%, rgb(32, 52, 228));
  background-size: 200%;
  background-position: 0%;
  transition: 0.5s;
  color: #fff;
  border-radius: 10px;
  font-weight: 900;
  cursor: pointer;

}
/* SIGNUP CANDIDATE FORM */
.signup-candidate-form {
 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-candidate-form > h3 {
  text-align: left;
}
.signup-textbox{
height: 100px;
width: 320px;
margin-bottom: 10px;
}
.signup-details-button {
  font-size: 21px;
  padding: 10px 80px;
  
  border: 0px;
  box-shadow: 2px solid gray;
  background-image: linear-gradient(to right, rgb(101, 116, 250) 50%, rgb(101, 116, 250) 50%, rgb(32, 52, 228));
  background-size: 200%;
  background-position: 0%;
  transition: 0.5s;
  color: #fff;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
}
input{
  margin-top: 6px;
  min-width: 15em;
  height: 37px;
  padding: 0px 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  background-color: white;
  border: 0;
  border-radius: 4px;
  margin-bottom: 31px;
  transition: all 250ms ease-in-out;
}



/* CARDS */

.card {
  position: relative;
  align-self: center;
  width: 260px;
  padding: 25px;
  height: 50vh;
  font-style: italic;
  color: white;

  border-radius: 20px;
  background-size: cover;
  box-shadow: 0px 16px 52px 0px darkgrey;
  background-position: center;
}
.cardFront {
 font-style: italic;
 color: white;
 text-shadow: 3px 3px rgb(36, 9, 24);
 position: absolute; 
 font-size: 30px;
 bottom: 10px;
}

.cardBack {
  font-style: italic;
 color: black;
}

.cardsPile {
  display: flex;
  margin-right: 45vh;
  margin-top: 13vh;
}

.swipe {
  position: absolute;
}
.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 20px;
  border-bottom: 2px solid gray;
}
.chat_det {
  flex: 1;
}
.chat_time {
  color: gray;
}
.chat_avatar {
  margin-right: 25px;
}

.skills_container {
  padding: 1em;
  align-items: center;
  align-content: center;
  height: 75%;
}

.skills_list {
  display: flex;
  flex-direction: column;
  width: 80%;
  overflow-y: scroll;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 0 20px;
  overflow-y: auto;
  border: 1px solid black;
  height: 390px;
  width: 300px;
  font-size: 1.2em;
  /* line-height: 1.2em; */
}

.skills_button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background: rgb(112 147 202);
  cursor: pointer;
  padding: 0;
  width: 220px;
  /* margin-bottom: 20px; */
  padding: 1.5vh;
  font-size: 1.2em;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.selectedSkills {
  display: flex;
  /* flex-flow: row wrap; */
  width: 90%;
  height: 100%;
  flex-direction: row;
}
.selectedSkill_container {
  flex-basis: 50%;
  padding: 5px;
  display: flex;
}

.selectedSkill-button {
  background: rgb(112 147 202);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
}

.selectedSkill-text {
  color: white;
  font-size: 1.2em;
  /* text-transform: uppercase; */
  flex-basis: 80%;
}
