@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* EXTRA COPY */
body.content {
  background-image: linear-gradient(
    to right,
    #ffc654 50%,
    #ffc95b 50%,
    #fecb63
  );
  height: fit-content;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: "Open Sans", sans-serif; */
}
.global-screen-box {
  background-image: linear-gradient(
    to right,
    #ffc654 50%,
    #ffc95b 50%,
    #fecb63
  );
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}
.form {
  height: fit-content;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  justify-content: space-between;
  background-image: linear-gradient(
    to right,
    #ffc654 50%,
    #ffc95b 50%,
    #fecb63
  );
  border-bottom: 2px solid white;
}

.header-img-icon {
  height: 35px;
  width: 120px;
  padding: 20px;
}
/* Dropdown icon */
.MuiButtonBase-root.MuiButton-root.MuiButton-text {
  padding: 0px;
}
.icons {
  padding: 20px;
}
.footer {
  position: fixed;
  width: 100%;
  bottom: 2vh;
  display: flex;
  justify-content: space-between;
}
.footer_icons {
  padding: 20px;
  color: purple;
}
.signin-container {
  margin-top: 40px;
  width: 320px;
}
.signup-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 70%;
  margin-left: 5%;
  align-content: center;
}
.signup-img-itself {
  position: fixed;
  display: flex;
  align-self: center;
  width: 20em;
}

/*  LOGIN PAGE */
.form {
  margin-top: 70%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  background-color: #fff;
}
.login-img {
  position: fixed;
  margin-top: 120px;
  width: 29em;
}
a.signup-link {
  color: rgb(32, 52, 228);
}
.login-img-itself {
  width: 70%;
  height: 90%;
}
.onboarding-swipe-img {
  margin-top: 110px;
  margin-left: 50px;
  width: 18em;
}

.upper-img-type {
  width: 22em;
  margin-top: -10%;
  margin-bottom: 5%;
}
.login-words {
  display: flex;
  align-items: flex-start;
  width: fit-content;
  flex-direction: column;
}
label {
  font-size: 20px;
}
input {
  margin-top: 6px;
  min-width: 15em;
  height: 37px;
  padding: 0px 24px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  background-color: white;
  border: 0;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: all 250ms ease-in-out;
}
.signup-button {
  margin-right: 30px;
  font-size: 21px;
  padding: 10px 80px;
  border: 0px;
  box-shadow: 2px solid gray;
  background-image: linear-gradient(
    to right,
    rgb(101, 116, 250) 50%,
    rgb(101, 116, 250) 50%,
    rgb(32, 52, 228)
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.5s;
  color: #fff;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
}
.signup-button:hover {
  background-position: 100% 0%;
}
.login-button {
  font-size: 21px;
  padding: 10px 80px;
  border: 0px;
  box-shadow: 2px solid gray;
  background-image: linear-gradient(
    to right,
    rgb(101, 116, 250) 50%,
    rgb(101, 116, 250) 50%,
    rgb(32, 52, 228)
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.5s;
  color: #fff;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
}
.login-button:hover {
  background-position: 100% 0%;
}
.signup-link {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  font-size: 15px;
}
.signup-link > h3 {
  color: white;
  font-size: 20px;
}
.slider {
  height: 600px;
  width: 400px;
}
/* PROFILE-TYPE */
.signup-type-container {
  position: fixed;
  display: flex;
  align-content: center;
}
.profile-type-img {
  width: 22em;
  margin-top: 5%;
  margin-bottom: 5%;
}
a.btn.btn-success {
  margin-left: -30px;
}
.signup-type-buttons {
  font-size: 21px;
  padding: 10px 5px;
  width: 90%;
  border: 0px;
  box-shadow: 2px solid rgb(150, 133, 133);
  background: rgb(93, 108, 245);
  background-size: 200%;
  background-position: 0%;
  transition: 0.5s;
  color: #fff;
  margin-bottom: 5%;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
}
/* SIGNUP CANDIDATE FORM */
.signup-candidate-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-candidate-form > h3 {
  text-align: left;
}
.signup-textbox {
  height: 90px;
  width: 310px;
  border-radius: 10px;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}
#add-form-candidate {
  margin-left: -5%;
}

.MuiFormLabel-root {
  margin-top: 20px;
}
.signup-details-button {
  font-size: 21px;
  padding: 10px 80px;
  border: 0px;
  box-shadow: 2px solid gray;
  background-image: linear-gradient(
    to right,
    rgb(101, 116, 250) 50%,
    rgb(101, 116, 250) 50%,
    rgb(32, 52, 228)
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.5s;
  color: #fff;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
}

.signup-input {
  height: 10%;
}
.remote-yes-no-org {
  flex-direction: row;
  align-content: flex-start;
  overflow-wrap: break-word;
}

/* SIGN UP ORG FORM*/
#add-form-organization {
  margin-top: 30px;
}

.signup-details-button-org {
  font-size: 21px;
  padding: 10px 80px;
  border: 0px;
  box-shadow: 2px solid gray;
  background-image: linear-gradient(
    to right,
    rgb(101, 116, 250) 50%,
    rgb(101, 116, 250) 50%,
    rgb(32, 52, 228)
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.5s;
  color: #fff;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 15px;
}

/* ADD JOB FORM*/
#add-job {
  margin-top: 25px;
  overflow-wrap: break-word;
}

.job-profile-listing {
  margin-top: 20%;
}

.job-listing-button {
  background-color: white;
  width: 300px;
  border: none;
  margin-top: 20%;
  margin: 15px;
}

.add-new-job {
  margin-top: 100px;
  /* margin-left: 5%; */
}

.add-new-job-button {
  margin-top: 15%;
  margin-bottom: 10%;
  font-size: 21px;
  padding: 10px 80px;
  border: 0px;
  box-shadow: 2px solid gray;
  background-image: linear-gradient(
    to right,
    rgb(101, 116, 250) 50%,
    rgb(101, 116, 250) 50%,
    rgb(32, 52, 228)
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.5s;
  color: #fff;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
}

/* SINGLE JOB */
.single-job-profile {
  margin-top: 25%;
}

.edit-job-screen {
  margin-top: 25%;
}

.edit-single-job-button {
  margin-top: 5%;
  /* margin-bottom: 10%; */
  font-size: 21px;
  padding: 10px 80px;
  border: 0px;
  box-shadow: 2px solid gray;
  background-image: linear-gradient(
    to right,
    rgb(101, 116, 250) 50%,
    rgb(101, 116, 250) 50%,
    rgb(32, 52, 228)
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.5s;
  color: #fff;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
}

/* UPLOAD IMAGE */
.upload-img-input {
  background-color: #fecb63;
  color: #fecb63;
}
.upload-img-button {
  font-size: 21px;
  padding: 10px 80px;
  border: 0px;
  box-shadow: 2px solid gray;
  background-image: linear-gradient(
    to right,
    rgb(101, 116, 250) 50%,
    rgb(101, 116, 250) 50%,
    rgb(32, 52, 228)
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.5s;
  color: #fff;
  border-radius: 17px;
  font-weight: 700;
  cursor: pointer;
}

/* PUT IN SILLS - CANDIDATE */

legend.MuiFormLabel-root.skills-box-container {
  padding: 25px;
}

/* ONBOARDING SCREENS */
.slick-slider.slider.slick-initialized {
  position: relative;
  width: 365px;
  padding: 25px;
  margin-top: 2%;
  height: 80vh;
  background-color: 'seashell';
  font-size: medium;
  color: rgb(34, 33, 32);
  border-radius: 20px;
  background-size: cover;
  box-shadow: 0px 16px 22px 5px rgba(248, 154, 30, 0.726);
  background-position: center;
  cursor: 'pointer';
}
ul.slick-dots {
  margin-left: -28px;
}
.onboarding-button {
  font-size: 21px;
  padding: 10px 80px;
  margin-top: 5px;
  border: 0px;
  box-shadow: 2px solid gray;
  background-image: linear-gradient(
    to right,
    rgb(101, 116, 250) 50%,
    rgb(101, 116, 250) 50%,
    rgb(32, 52, 228)
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.5s;
  color: #fff;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
}
.onboarding-screen {
  height: 360px;
  margin-bottom: 10px;
}
.onboarding-screen > h4 {
  margin-top: 20px;
  font-weight: lighter;
}
.onboarding-screen > h3 {
  margin-top: 20px;
}
.onboarding-img {
  align-self: center;
  margin-top: 70px;
  margin-left: -30px;
  width: 22.5em;
  margin-bottom: 50px;
}
.onboarding-img-swipe {
  align-self: center;
  margin-top: 70px;
  margin-left: 14%;
  margin-right: 20%;
  width: 16em;
  margin-bottom: 70px;
}
.onboarding-text {
  margin-top: 70px;
}
.onboarding-text-lastpage {
  margin-bottom: 5px;
  margin-top: -10px;
}

/* LANDING PAGE */
.landing-page {
  margin-top: 35%;
}
.landing-page-card {
  display: flex;
  flex-direction: column;
  width: 26 0px;
  padding: 20px;
  color: rgb(241, 166, 54);
  border-radius: 20px;
  background-size: cover;
  background-color: seashell;
  box-shadow: 0px 16px 12px 5px rgba(155, 105, 40, 0.726);
  background-position: center;
  margin-left: 10%;
  margin-top: 10%;
}

/* CARDS */
.card {
  position: relative;
  width: 280px;
  padding: 25px;
  height: 60vh;
  color: rgb(82, 82, 81);
  border-radius: 20px;
  background-size: cover;
  box-shadow: 0px 16px 12px 5px rgba(248, 154, 30, 0.726);
  background-position: center;
  cursor: 'pointer';
}
.card > h2 {
  color: #e09808;
  text-shadow: 0.5px 0px #643c07;
}
.cardFront {
  font-style: italic;
  color: white;
  text-shadow: 3px 3px rgb(36, 9, 24);
  position: absolute;
  font-size: 30px;
  bottom: 10px;
  cursor: 'pointer';
}
.cardBack {
  font-style: italic;
  color: white;
  cursor: 'pointer';
}
.cardsPile {
  position: fixed;
  display: flex;
  margin-right: 40vh;
  margin-top: 13vh;
  cursor: 'pointer';
}
.swipe {
  position: absolute;
  cursor: 'pointer';
}
.react-card-flipper {
  display: flex;
  align-self: center;
}
.card-skill-box {
  margin: 4px, 4px;
  padding: 4px;
  width: 270px;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}
.out-of-cards {
  position: fixed;
  display: flex;
  align-content: center;
  margin-top: 40%;
  width: 280px;
  padding: 25px;
  height: 30vh;
  color: rgb(82, 82, 81);
  background-color: 'seashell';
  border-radius: 20px;
  background-size: cover;
  box-shadow: 0px 16px 12px 5px rgba(155, 105, 40, 0.726);
  background-position: center;
  cursor: 'pointer';
}
.out-of-cards > h2 {
  color: #e09808;
  text-shadow: 0.5px 0px #643c07;
}
.skills_container {
  margin-top: 25%;
  padding: 1em;
  align-items: center;
  align-content: center;
  height: 75%;
}
.skills_list {
  display: flex;
  flex-direction: column;
  width: 80%;
  overflow-y: scroll;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 0 20px;
  overflow-y: auto;
  border: 2px solid white;
  height: 390px;
  width: 300px;
  font-size: 1.2em;
}
.skills_button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background: rgb(112 147 202);
  cursor: pointer;
  padding: 0;
  width: 220px;
  /* margin-bottom: 20px; */
  padding: 1.5vh;
  font-size: 1.2em;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}
.selectedSkills {
  display: flex;
  /* flex-flow: row wrap; */
  width: 90%;
  height: 100%;
  flex-direction: row;
}
.selectedSkill_container {
  flex-basis: 50%;
  padding: 5px;
  display: flex;
}
.selectedSkill-button {
  background: rgb(112 147 202);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
}
.selectedSkill-text {
  color: white;
  font-size: 1.2em;
  /* text-transform: uppercase; */
  flex-basis: 80%;
}

/* MESSAGES_CHAT */

.chatscreen-text {
  margin-left: 5px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  text-align: left;
}
.chatscreen-message {
  display: flex;
  align-items: center;
  padding: 20px;
}
.chatscreen-timestamp {
  text-align: center;
  padding: 20px;
  color: grey;
}
.chatscreen-text-user {
  margin-left: auto;
  background-color: rgb(101, 116, 250);
  color: white;
  padding: 13px;
  border-radius: 20px;
}
.chatscreen-input-container {
  display: flex;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightgray;
}
.chatscreen-input-field {
  flex: 1;
  padding: 10px;
  border: none;
}

.chatscreen-input-button {
  padding: 9px;
  margin-top: 6px;
  height: 58px;
  width: 60px;
  border: none;
  background-color: white;
  font-weight: bolder;
  color: rgb(61, 76, 209);
}
.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 20px;
  border-bottom: 2px solid gray;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.chat_det {
  flex: 1;
}
.chat_time {
  color: gray;
}
.MuiAvatar-root.MuiAvatar-circle.chat_avatar {
  width: 80px;
  height: 80px;
}
.chat_avatar {
  display: block;

  margin-left: auto;
  margin-right: auto;
}

.view_profile {
  display: flex;
  flex-direction: column;
  width: 80%;
  overflow-y: scroll;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 0 20px;
  overflow-y: auto;
  border: 2px solid white;
  height: 430px;
  width: 300px;
  font-size: 1.2em;
}
.view_profile > h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.view_profile > h4 {
  margin-top: 5px;
  margin-bottom: 15px;
}
.view_profile_candidate > h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.view_profile_candidate > h4 {
  margin-top: 5px;
  margin-bottom: 15px;
}

/* EDIT JOB PROFILE INFO */
.profile-edit-org {
  display: flex;
  flex-flow: column wrap;
  margin-top: 30%;
  height: inherit;
  color: rgb(82, 81, 81);
  font-size: 17px;
}
.profile-edit-org > h3 {
  color: rgb(82, 81, 81);
}
.profile-edit-org > h2 {
  color: White;
  font-weight: bolder;
}
.profile-edit-org-button {
  font-size: 21px;
  font-weight: bolder;
  margin-bottom: 15px;
  padding: 10px 80px;
  border: 0px;
  box-shadow: 2px solid gray;
  background-image: linear-gradient(
    to right,
    rgb(101, 116, 250) 50%,
    rgb(101, 116, 250) 50%,
    rgb(32, 52, 228)
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.5s;
  color: #fff;
  border-radius: 20px;
  /* margin-top: 20%; */
  cursor: pointer;
}
.profile-edit-org-button:hover {
  background-position: 100% 0%;
}

/* EDIT ORG PROFILE*/
.edit-org-profile {
  margin-top: 100px;
}

.edit-org-button-save-changes {
  font-size: 21px;
  font-weight: bolder;
  padding: 10px 80px;
  border: 0px;
  box-shadow: 2px solid gray;
  background-image: linear-gradient(
    to right,
    rgb(101, 116, 250) 50%,
    rgb(101, 116, 250) 50%,
    rgb(32, 52, 228)
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.5s;
  color: #fff;
  border-radius: 20px;
  margin-top: 30px;
  cursor: pointer;
}

/*EDIT CANDIDATE PROFILE*/
.profile-edit-candidate {
  display: flex;
  flex-flow: column wrap;
  margin-top: 40%;
  height: inherit;
  color: rgb(82, 81, 81);
  font-size: 17px;
}

.custom-file-upload {
  /* background-color: white; */
  /* border: 1px solid #ccc; */
  display: inline-block;
  width: 200px;
  padding: 6px 12px;
  cursor: pointer;
}
.match-card {
  position: fixed;
  width: 280px;
  padding: 25px;
  height: 60vh;
  color: rgb(82, 82, 81);
  border-radius: 20px;
  margin-bottom: 90px;
  background-size: cover;
  box-shadow: 0px 16px 12px 5px rgba(248, 154, 30, 0.726);
  background-position: center;
  cursor: 'pointer';
  align-content: center;
}
.match-img {
  align-self: center;
  margin-top: 40px;
  margin-left: -90px;
  width: 100px;
  height: 100px;
  border-radius: 60px;
  border-color: rgb(101, 116, 250);
}

.match-button {
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 15px 40px;
  border: 0px;
  box-shadow: 2px solid gray;
  background-image: linear-gradient(
    to right,
    rgb(101, 116, 250) 50%,
    rgb(101, 116, 250) 50%,
    rgb(32, 52, 228)
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.5s;
  color: #fff;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
}
.match-buttons {
  display: flex;
  flex-direction: column;
}
.match-imgs {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;

  margin-right: 30px;
}
.match-imgs > h3 {
  margin-left: 50px;
  margin-top: 0px;
}

/* EDIT JOB */
.edit-job-form {
  display: flex;
  flex-direction: column;
}
.edit-job-form-container {
  margin-top: 29%;
}

.profile-edit-org-yes-no {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  padding: 10px;
}
input[type='file'] {
  display: none;
}
